body{
    margin: 0;
}

header{
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    height: 175px; 
}

main{
    font-size: 30px;
    margin-left: 10px;
}

.logo{
    margin-top: 90px;
    width: 15%;
    }

.sottotitolo{
    text-decoration: none;
    color: deepskyblue;
}

.timuno{
    width: 52%;
}

.timdue{
    width: 44.5%;
}

.colore{
   font-size: 25px;   
   color: gray;
}

.foto{
    font-size: 15px;
}

.carattere{
    font-size: 25px;
}

.giallo{
    background-color: yellow;
}

.colonnauno{
    color: white;
    background-color: deepskyblue;
    width: 500px;
}

.colonnadue{
    background-color: lightblue;
    width: 500px;
    height: 100px;
}

.colonnatre{
    width: 500px;
    height: 100px;
}

.interesse{
    color: grey;
    font-size: 25px;;
}



